name: Build and Test

on:
  workflow_dispatch:
  workflow_call:
    outputs:
      version-string:    
        description: "The Semantic version to use for the service in question"
        value: ${{ jobs.get-semantic-version.outputs.version-string }}
      version-workspace: 
        description: "The workspace name to use for the PR environment"
        value: ${{ jobs.get-semantic-version.outputs.version-workspace }}
  
jobs:
  get-semantic-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Get Semantic Version
        id: get_semantic_version
        uses: ./.github/actions/get-semantic-version
        with:
          directory: ./react-frontend
    outputs:
      version-string:    ${{ steps.get_semantic_version.outputs.formatted_version_string }}
      version-workspace: ${{ steps.get_semantic_version.outputs.clean_branch }}

  test:
    needs: get-semantic-version
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v4
      
      - name: Debug Vars
        shell: bash
        run: echo "${{ toJson(vars) }}"

      - name: Run Tests
        id: test_step
        uses: ./.github/actions/test-vite-app
        with:
          app-directory: 'react-frontend'
        continue-on-error: true
    
      - name: Publish Test Results
        id: publish_test_results_step
        uses: ./.github/actions/publish-to-s3
        with:
          artifacts-path: ./react-frontend/_test-reports
          s3-bucket: ${{ vars.TESTREPORTBUCKETNAME }}
          s3-destination-path: /${{ needs.get-semantic-version.outputs.version-string }}/${{ github.run_number }}
          aws-region: ${{ vars.AWS_REGION }}
          aws-access-key: ${{ secrets.AWSACCESSKEYID }}
          aws-secret-key: ${{ secrets.AWSSECRETACCESSKEY }}

      - name: Log Test Results URLs
        id: log_test_results_url
        shell: bash
        env: 
          TEST_RESULTS_BUCKET_URL: https://${{ vars.TESTREPORTBUCKETNAME }}.s3.${{ vars.AWS_REGION }}.amazonaws.com/${{ needs.get-semantic-version.outputs.version-string }}/${{ github.run_number }}
        run: |
          echo "Unit Tests:    ${{ env.TEST_RESULTS_BUCKET_URL }}/unit-tests/index.html"
          echo ""
          echo "Code Coverage: ${{ env.TEST_RESULTS_BUCKET_URL }}/coverage/index.html"

      - name: Check Test Status
        if: steps.test_step.outcome == 'failure'
        run: exit 1

  build:
    needs: get-semantic-version
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v4
      - name: Build Frontend
        id: build_step 
        uses: ./.github/actions/build-vite-app
        with:
          app-directory: 'react-frontend'
          build-directory: 'dist'

      - name: Log Artifact Path
        run: echo "BUILD ARTIFACTS " ${{ steps.build_step.outputs.artifact-path }}

      - name: Publish Build Artifacts
        id: publish_test_results_step
        uses: ./.github/actions/publish-to-s3
        with:
          artifacts-path: ./react-frontend/dist
          s3-bucket: ${{ vars.BUILDARTIFACTSBUCKETNAME }}
          s3-destination-path: /${{ needs.get-semantic-version.outputs.version-string }}
          aws-region: ${{ vars.AWS_REGION }}
          aws-access-key: ${{ secrets.AWSACCESSKEYID }}
          aws-secret-key: ${{ secrets.AWSSECRETACCESSKEY }}


    