name: Build and Test

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v4

      - name: Run Tests
        id: test_step
        uses: ./.github/actions/test-vite-app
        with:
          app-directory: 'react-frontend'
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v4

      - name: Build Frontend
        id: build_step 
        uses: ./.github/actions/build-vite-app
        with:
          app-directory: 'react-frontend'
          build-directory: 'dist'

      - name: Log Artifact Path
        run: echo "BUILD ARTIFACTS " ${{ steps.build_step.outputs.artifact-path }}


    