name: PR Pipeline

on:
  pull_request:
    branches:
      - main

jobs:
          
  build-and-test:
    name: Build and Test
    uses: ./.github/workflows/build-and-test.yaml
    secrets: inherit 

  deploy-pr-env:
    name: Deploy to PR Env
    needs: [ build-and-test ]
    uses: ./.github/workflows/deploy-pr-env.yaml
    with: 
      release_version : ${{ needs.build-and-test.outputs.version-string }}
      workspace : ${{ needs.build-and-test.outputs.version-workspace }}
    secrets: inherit
    
  cypress-test:
    name: Cypress E2E Tests
    needs: deploy-pr-env
    uses: ./.github/workflows/cypress-test.yaml
    with:
      url: ${{ needs.deploy-pr-env.outputs.pr-url }}
    secrets: inherit